@import "variables";
@import "mixins";

.views {
  .view {
    display: none;
  }

  &.v1 {
    .view {
      &.v1 {
        display: block;
      }
    }
  }

  &.v2 {
    .view {
      &.v1 {
        display: none;
      }

      &.v2 {
        display: block;
      }
    }
  }

  &.v3 {
    .view {
      &.v2 {
        display: none;
      }

      &.v3 {
        display: block;
      }
    }
  }

  &.v4 {
    .view {
      &.v3 {
        display: none;
      }

      &.v4 {
        display: block;

        .monster {
          &.monster--molecule {
            bottom: auto;
            top: 65px;
            right: 25px;
          }
        }
      }
    }
  }

  &.v5 {
    .view {
      &.v4 {
        display: none;
      }

      &.v5 {
        display: block;

        .monster {
          &.monster--molecule {
            bottom: -31px;
            right: auto;
            left: -31px;
          }
        }
      }
    }
  }

  &.v6 {
    .view {
      &.v5 {
        display: none;
      }

      &.v6 {
        display: block;

        .monster {
          &.monster--molecule {
            bottom: auto;
            top: 60px;
            right: 25px;
          }
        }
      }
    }
  }

  &.v7 {
    .view {
      &.v6 {
        display: none;
      }

      &.v7 {
        display: block;

        .monster {
          &.monster--big {
            bottom: -20px;
          }

          &.monster--molecule {
            bottom: auto;
            top: -31px;
            left: -31px;
          }
        }
      }
    }
  }

  &.v8 {
    .view {
      &.v7 {
        display: none;
      }

      &.v8 {
        display: block;
      }
    }
  }
}

.section-title {
  margin: 0;
  color: $COLOR_BLACK;
  font-family: $ffNotoSans;
  font-size: 23px;
  font-style: normal;
  font-weight: $bold;
  line-height: normal;

  @include media(sm) {
    font-size: 18px;
  }
}

p {
  margin: 0;
  font-family: $ffFuturaPT;
  font-size: 17px;
  font-style: normal;
  font-weight: $book;
  line-height: normal;
}

ul,
ol {
  margin: 5px 0 0 0;
  padding: 0 0 0 4px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    color: $COLOR_LIGHT_GRAY;
    font-family: $ffFuturaPT;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::before {
      content: '•';
    }
  }
}

ol {
  margin: 10px 0 0 0;
  padding: 0 0 0 25px;
  list-style: decimal;

  li {
    &::before {
      content: '';
    }
  }
}

.pink-bg {
  padding: 28px 20px;
  border-radius: 10px;
  background: $COLOR_LIGHTER_PINK;
}

.choosing-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text-center {
  text-align: center;
}

.monster {
  position: absolute;

  &.monster--big {
    width: 121px;
  }

  &.monster--molecule,
  &.monster--small {
    width: 62px;
  }
}

.next-page-block {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;

  &::before {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background: #F5F5F5;
  }

  .btn {
    width: 411px;
    position: relative;
    z-index: 2;
  }

  @include media(sm) {
    .btn {
      width: 100%;
    }
  }

  .monster {
    &.monster--big {
      width: 45px;
      left: calc(50% - 175px);
      top: 17px;
      animation: showBlueMonsterFromButton 10s ease infinite;
    }

    &.monster--small {
      right: -62px;
      z-index: 2;
      animation: flySmallMonster 8s linear infinite;
    }

    @include media(sm) {
      &.monster--big {
        left: calc(50% - 145px);
      }

      &.monster--small {
        right: -31px;
      }
    }
  }
}

.library {
  display: none;

  &.visible {
    display: block;
  }
}

.w {
  &-medium {
    font-weight: $medium;
  }

  &-bold {
    font-weight: $bold;
  }
}

.color {
  &-gray {
    color: $COLOR_LIGHT_GRAY;
  }

  &-black {
    color: $COLOR_BLACK;
  }

  &-pink {
    color: $COLOR_PINK;
  }

  &-red {
    color: $COLOR_RED;
  }

  &-turquoise {
    color: $COLOR_TURQUOISE;
  }
}

.mt {
  &-10 {
    margin-top: 10px;
  }

  &-14 {
    margin-top: 14px;
  }

  &-20 {
    margin-top: 20px;
  }

  &-24 {
    margin-top: 24px;
  }

  &-26 {
    margin-top: 26px;
  }

  &-30 {
    margin-top: 30px;
  }

  &-42 {
    margin-top: 42px;
  }

  &-50 {
    margin-top: 50px;
  }

  &-57 {
    margin-top: 57px;
  }
}

.pl {
  &-16 {
    padding-left: 16px;
  }
}

@keyframes showBlueMonsterFromButton {
  0% {
    transition-delay: 2s;
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
    transition-delay: 4s;
  }

  51% {
    transform: translateY(-30px) scale(-1, 1);
    transition-delay: 1s;
  }

  75% {
    transform: translateY(-30px) scale(-1, 1);
  }

  100% {
    transform: translateY(0) scale(-1, 1);
  }
}

@keyframes flySmallMonster {
  0% {
    transform: translate(0,0) scale(-1, 1) rotate(0);
  }

  50% {
    transform: translate(-5px,15px) scale(-1, 1) rotate(-15deg);
  }

  100% {
    transform: translate(0,0) scale(-1, 1) rotate(0);
  }
}